html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container{
    margin: 0;
    padding: 0;
    background-color: #E6E6FA;
}

#head_wrap{
    min-width: 1000px;
    width: 101%;
    z-index: 1000;
    height: 80px;
    margin: 0 auto;
    background: #3B5998;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#header{
    
    margin: 0 auto;
    width: 1000px;
    height: 100px;
}

#logo {
    float: left;
    height: 100px;
    position: absolute;
    width: 200px;
    padding: 50px;
}
#logo a {
    position: absolute;
    top: 20px;
    font-size:30px; font-weight:bold; color:#FFF;
    text-decoration:none;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


#form1{
    float: right;
    line-height: 80px;
}
#form1 input{
    width: 150px;
    height: 20px;
    padding: 2px;
    border-radius: 5px;

}

#form1 button{
    width: 100px;
    height: 27px;
    padding: 3px;
    color: black;
    border-radius: 4px;
    border-top: 2px;
}

#form1 button:hover{
    background-color: #3B5998;
    color:white;
}
#content{
    width: 1000px;
    margin: 0 auto;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#form2 table tr td {
    padding: 0 0 0 150px;
}

#form2{
    float: center;
    margin-top: 40px;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

#form2 h2{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    color:#8E989E; 
    line-height:20px; 
    font-weight:normal; 
    font-size:25px;
    position: absolute;
    top: 100px;
    left: 445px;
    border-radius: 2px;
}

.title { 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    color:#8E989E; 
    line-height:30px; 
    font-weight:normal; 
    position: absolute;
    left: 500px;
    font-size:16px; 
}


#form2 input{

    padding: 12px 10px; 
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 8px; font-size: 15px; 
    border: 1px solid #ccc;
    width: 420px;  
    outline: none;
    border-radius: 5px;
}

#form2 select{
    width: 443px;
    padding: 12px 10px;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif; 
    border: 1px solid #ccc;
    border-radius: 5px;
    color:#8E989E;
    font-weight:normal;
    left: 500px;
    font-size:16px;
  
}

#form2 button{
    background: #5870A8; 
    background-image:-webkit-linear-gradient(top, #637BAD, #4F67A4); 
    padding: 10px 20px; 
    font-size: 18px; 
    border: 1px solid #1D3871; 
    letter-spacing: 1px; 
    color: #fff; width: 440px; 
    line-height:30px; 
    font-family:    'Helvetica Neue', Helvetica, Arial, sans-serif;
    -moz-box-shadow: 1px 1px 3px #1D3871; 
    -webkit-box-shadow: 1px 1px 3px #1D3871; 
    box-shadow: 1px 1px 3px #1D3871; 
    cursor: pointer;
    margin-left: 152px;
    margin-top: 8px;
}

#form2 button:hover{
    background-color: blue;
    color: white;
}

#form2 h2{
    padding: 5px;
    margin-left: 100px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

#footer{
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #3B5998;
    clear: both;
}

#footer h2{
    text-align: center;
    padding-top: 5px;
    color: white;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}